<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hollywood.kayushi07.com.hollywoodhollywoodgame">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Include the AdActivity configChanges and theme. -->

        <activity android:name=".Activity.LevelActivity"></activity>

        <activity android:name=".Activity.GameActivity"
            android:theme="@style/AppThemeGame"></activity>
        <activity android:name=".Activity.PopupActivity"/>
    </application>

</manifest>
